<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ZigyAutomationSuite" parallel="false">
  <test name="Tests" parallel="false" preserve-order="true" verbose="2">
    <classes>
         	<class name="TestCases.ZigyCare.CareLogin"/>
			<class name="TestCases.ZigyCure.AddtoOrder"/>
			<class name="TestCases.ZigyHealthVault.HVLogin"/>
    </classes>
  </test>
 </suite>